.nav__wrap {
    max-width: fit-content;
    display: inline-block;
    padding-right: 50px;
    color: #64e84a;
}

.nav__link {
    display: inline-block;
        text-decoration: none;
        padding: 12px;
        font-weight: 700;
        color: #2a363b;    
}

.nav__link:active {
    color: #64e84a;
}