.container {
    display: flex;
    min-height: calc(100vh - 50px);
    
    align-items: center;
    justify-content: center;
}


.title {
    font-weight: 500;
        font-size: 48;
        text-align: 'center';
}

