html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(#0099ff, #fffb00); */
    background: linear-gradient(67deg, #111 6.82%, rgba(17, 17, 17, 0) 100%),
        url(../../images/iphone-6884672_1920.jpg),
        lightgray 295.604px -4.18px / 92.376% 104.171% no-repeat;
        background-size: cover;
}

.container {
    display: flex;
    min-height: calc(100vh - 50px);
    
    align-items: center;
    justify-content: center;
}


.title {
    font-weight: 500;
        font-size: 48;
        text-align: 'center';
        color: #fff;
}

