@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: linear-gradient(67deg, #111 6.82%, rgba(17, 17, 17, 0) 100%),
      url(../src/images/iphone-6884672_1920.jpg),
      lightgray 295.604px -4.18px / 92.376% 104.171% no-repeat;
    background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  min-height: calc(100vh - 50px);

  align-items: center;
  justify-content: center;
}


.title {
  font-weight: 500;
  font-size: 48;
  text-align: 'center';
  color: #fff;
}