.list {
   padding: 0px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    list-style: none;
    color: #fffb00;
}

.nameNumber {
    font-size: 18px;
}

.button {
    width: 120px;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: #0099ff;
    color: #fffb00;
    text-transform: uppercase;
    border: 1px solid #0008ff;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #fffb00;
        box-shadow: 0px 0px 5px 0px #0099ff;
        color: #0099ff;
}